*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: var(--bg-color);
}

.container {
  padding: 0 60px;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

:root {
  --link-active-color: #c7c6c6b0;
  --link-color: #ffffff;
  --bg-color: #000000;
  --section-bg-color: #000000;
  --star-color: #fcff51;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--section-bg-color);
}








/* SECTION START  */
.section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 93px 0 66px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section__content_title {
  font-family: sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 79px;
  color: var(--link-color);
  letter-spacing: 2.88px;
}

.section__content_link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  background-color: var(--link-active-color);
  display: block;
  width: 178px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
  color: var(--link-color);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border: 1px solid var(--link-active-color);
}

.section__content_link:hover {
  background-color: var(--bg-color);
  color: var(--link-active-color);
}

.section__container {
  border-radius: 32px;
  background-color: var(--section-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 0 40px 40px;
  gap: 53px;
  min-height: 545px;
  max-width: 1300px;
  width: 100%;
  margin: 60px 0;
  transform: translateX(-40px);
}

.section__container {
  display: flex;
  flex-direction: column;
}

.section__box {
  display: flex;
  flex-direction: row;

}




.section__box_img {
  height: 559px;
  width: 359px;
}

.section__box_img.active {
  height: 445px;
  width: 650px;
}

.section__box_content_bold {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: var(--link-color);
  background-color: var(--bg-color);

  border-radius: 6px;

  display: inline;

  margin-left: 300px;
}

.section__box_content {
  margin-left: 80px;
}

.section__box_content_bold.active {
  width: 136px;
  height: 27px;

}

.section__box_content_blue {
  color: var(--link-active-color);
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  margin: 48px 0 18px 0;
  margin-left: 300px;
}

.section__box_content_title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 70px;
  color: var(--link-color);
  width: 100%;
  max-width: 701px;
  letter-spacing: 2.56px;
  margin-left: 300px;
}

.section__box_content_title.active {
  max-width: 650px;
  width: 100%;
}

.section__box_content_paragraph {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
  margin: 28px 0 18px 0;
  max-width: 757px;
  width: 100%;
  margin-left: 300px;
}

.section__box_content_link {
  font-family: sans-serif;
  font-style: normal;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--link-color);
  background-color: var(--link-active-color);
  width: 208px;
  height: 51px;
  border-radius: 6px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border: 1px solid var(--link-active-color);
}

.section__box_content_link:hover {
  background-color: var(--section-bg-color);
  color: var(--link-active-color);
}

.section__contact {
  margin: 260px 0 0 0;
}

.section__contact_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 94px;
}

.section__contact_box_icon {
  height: 212px;
  width: 202px;
  left: 60%;

}



.section__contact_box_link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  height: 27px;
  display: block;
  max-width: 140px;
  width: 100%;
  line-height: 27px;
  color: var(--link-active-color);
  margin: 20px 0 25px 0;
}

.section__contact_box_title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 79px;
  color: var(--link-color);
  letter-spacing: 2.88px;
  margin: 0 0 28px 0;
}

.section__contact_box_paragraph {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
  max-width: 570px;
  width: 100%;
}

.section__contact_box_paragraph span {
  color: #a59c9cef;
}

.section__contact_box_paragraph.active {
  margin: 33px 0 0 0;
}

.section__contact_box_img {
  max-width: 500px;
  border-radius: 14px;
  -o-object-fit: cover;
  object-fit: cover;
  height: 600px;
}

.section__form_container {
  min-height: 350px;
  max-width: 1300px;
  width: 100%;
  margin: 200px 0 0 0;
  background-color: var(--section-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 60px;
  border-radius: 32px;
}

.section__form_box_link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--link-active-color);
}

.section__form_box_title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 79px;
  color: var(--link-color);
  max-width: 431px;
  width: 100%;
  letter-spacing: 2.88px;
  transform: translateX(-50px);
}

.formFeedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 500px;
}

.form__input {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  width: 522px;
  outline: none;
  padding: 13px;
  color: rgba(255, 255, 255, 0.7);
  background: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 6px;
  margin: 10px 0;
}

.form__submit {
  height: 48px;
  width: 87px;
  background: var(--link-active-color);
  border-radius: 6px;
  cursor: pointer;
  font-family: sans-serif;
  margin: 10px 0 0 0;
  border-radius: 6px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border: 1px solid var(--link-active-color);
}

.form__submit:hover {
  background-color: transparent;
  color: var(--link-active-color);
}

.section__user_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 16px auto 16px auto;
  grid-template-columns: repeat(3, auto);
  gap: 16px;
  margin: 200px 0 0 0;
}

.section__user_box {
  height: 321px;
  max-width: 423px;
  width: 100%;
  background-color: var(--section-bg-color);
  border-radius: 32px;
  padding: 50px;
}

.fa-star {
  color: var(--star-color);
}

.section__user_box_title {
  font-family: sans-serif;
  color: var(--link-color);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  margin: 21px 0 19px 0;
}

.section__user_box_paragraph {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
}

/* SECTION END */

/* FOOTER START */
.footer {
  margin: 200px 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto);
  grid-template-columns: repeat(3, auto);
  height: 292px;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 146px auto 146px auto;
  grid-template-columns: repeat(3, auto);
  gap: 146px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__container_box_title {

  font-family: sans-serif;
  font-size: 30px;
  /* font-style: normal; */
  font-weight: 600;
  margin: 0 0 25px 0;

}

.footer__box .footer__box_item {
  padding: 5px 0;
}

.footer__container_box_icons i {
  color: var(--link-color);
  width: 22px;
  height: 17.94px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.footer__container_box_icons i:hover {
  color: var(--link-active-color);
}

.footer__box .footer__box_item .footer__box_link {
  font-family: sans-serif;
  color: var(--link-color);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__box .footer__box_item .footer__box_link:hover {
  color: var(--link-active-color);
  text-decoration: underline;
}

.footer__box_img {
  padding: 0 8.5px;
  border-radius: 50%;
}

/* FOOTER END */

/* MEDIA RESPONSIVE START */
@media (max-width: 1320px) {
  .main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 60px;
  }

  .main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
  }

  .main__box_img {
    display: none;
  }

  .main__box.active {
    margin: 200px 0 100px 0;
  }

  .section__contact_box_img {
    display: none;
  }

  .section__contact {
    margin: 200px 0 0 0;
  }
}

@media (max-width: 1300px) {
  .section__user_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 16px auto;
    grid-template-columns: repeat(2, auto);
    gap: 16px;
    margin: 200px 0 0 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .section__container {
    border-radius: 32px;
    background-color: var(--section-bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 0 40px 40px;
    gap: 0;
    min-height: 545px;
    max-width: 1135px;
    width: 100%;
    margin: 60px 0;
  }
}

@media (max-width: 1290px) {
  .section__container {
    border-radius: 32px;
    background-color: var(--section-bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 0 40px 40px;
    gap: 0;
    min-height: 545px;
    max-width: 1135px;
    width: 100%;
    margin: 60px 0;
  }

  .section__box_img {
    display: none;
  }

  .section__container {
    border-radius: 32px;
    background-color: var(--section-bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 40px 0 40px 40px;
    gap: 53px;
    min-height: 545px;
    width: 1300px;
    margin: 60px 0;
  }

  .section__container {
    border-radius: 32px;
    background-color: var(--section-bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 0 40px 40px;
    gap: 0;
    min-height: 545px;
    max-width: 1135px;
    width: 100%;
    margin: 60px 0;
  }

  .section__container {
    border-radius: 32px;
    background-color: var(--section-bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 0 40px 40px;
    gap: 53px;
    min-height: 545px;
    max-width: 1135px;
    width: 100%;
    margin: 60px 0;
  }
}

@media (max-width: 1192px) {
  .section__form_box_title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 79px;
    color: var(--link-color);
    max-width: 431px;
    width: 100%;
    letter-spacing: 2.88px;
    margin: 0 0 50px 0;
  }
}

@media (max-width: 1100px) {
  .footer {
    margin: 200px 0 0 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto);
    grid-template-columns: repeat(1, auto);
    height: 292px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .footer__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: repeat(1, auto);
    gap: 146px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .footer__container_box_icons i {
    color: var(--link-color);
    width: 22px;
    height: 17.94px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    cursor: pointer;
    margin: 0 0 25px 0;
  }
}

@media (max-width: 960px) {
  .section__box_content_title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: var(--link-color);
    width: 100%;
    max-width: 701px;
    letter-spacing: 2.56px;
  }

  .section__box_content_paragraph {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    margin: 28px 0 18px 0;
    max-width: 757px;
    width: 100%;
  }
}

@media (max-width: 930px) {
  .section__user_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: repeat(1, auto);
    gap: 16px;
    margin: 200px 0 0 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 858px) {
  .section__content_title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 79px;
    color: var(--link-color);
    letter-spacing: 2.88px;
  }

  .section__content_link {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    background-color: var(--link-active-color);
    display: block;
    max-width: 178px;
    width: 100%;
    height: 51px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 6px;
    color: var(--link-color);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border: 1px solid var(--link-active-color);
  }

  .section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 93px 0 66px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .main__box_title {
    max-width: 535px;
    width: 100%;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 70px;
    color: var(--link-color);
    letter-spacing: 3.2px;
  }
}

@media (max-width: 655px) {
  .main__box.active {
    margin: 100px 0 0 0;
  }

  .main__box_title {
    max-width: 535px;
    width: 100%;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 88px;
    color: var(--link-color);
    letter-spacing: 3.2px;
  }
}

@media (max-width: 768px) {
  .nav .nav__list .nav__item .nav__link {
    display: none;
  }

  .fa-bars {
    display: block;
  }
}

@media (max-width: 715px) {
  .form__input {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    width: 400px;
    outline: none;
    padding: 13px;
    color: rgba(255, 255, 255, 0.7);
    background: var(--bg-color);
    border: 1px solid var(--bg-color);
    border-radius: 6px;
    margin: 10px 0;
  }

  .section__form_box_title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: var(--link-color);
    max-width: 431px;
    width: 100%;
    letter-spacing: 2.88px;
    margin: 0 0 25px 0;
  }

  .section__user_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: repeat(1, auto);
    gap: 16px;
    margin: 100px 0 0 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .section__form_container {
    min-height: 350px;
    max-width: 1300px;
    width: 100%;
    margin: 100px 0 0 0;
    background-color: var(--section-bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px;
    border-radius: 32px;
  }

  .section__container {
    border-radius: 32px;
    background-color: var(--section-bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 0 40px 40px;
    gap: 0;
    min-height: 545px;
    max-width: 1135px;
    width: 100%;
    margin: 60px 0;
  }
}

@media (max-width: 560px) {
  .form__input {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    width: 350px;
    outline: none;
    padding: 13px;
    color: rgba(255, 255, 255, 0.7);
    background: var(--bg-color);
    border: 1px solid var(--bg-color);
    border-radius: 6px;
    margin: 10px 0;
  }
}

@media (max-width: 555px) {
  .container {
    padding: 0 50px;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
  }

  .section__box_content_title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: var(--link-color);
    width: 100%;
    max-width: 701px;
    letter-spacing: 2.56px;
  }

  .section__contact_box_title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 79px;
    color: var(--link-color);
    letter-spacing: 2.88px;
    margin: 0 0 28px 0;
  }

  .section__form_box_title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    color: var(--link-color);
    max-width: 431px;
    width: 100%;
    letter-spacing: 2.88px;
    margin: 0 0 25px 0;
  }

  .form__submit {
    height: 48px;
    max-width: 87px;
    width: 100%;
    background: var(--link-active-color);
    border-radius: 6px;
    cursor: pointer;
    font-family: sans-serif;
    margin: 10px 0 0 0;
    border-radius: 6px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border: 1px solid var(--link-active-color);
  }
}

@media (max-width: 514px) {
  .form__input {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    max-width: 350px;
    outline: none;
    width: 100%;
    padding: 13px;
    color: rgba(255, 255, 255, 0.7);
    background: var(--bg-color);
    border: 1px solid var(--bg-color);
    border-radius: 6px;
    margin: 10px 0;
  }

  .section__user_box {
    min-height: 380px;
    max-width: 423px;
    width: 100%;
    background-color: var(--section-bg-color);
    border-radius: 32px;
    padding: 50px;
  }
}

@media (max-width: 475px) {
  .section__content_title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 79px;
    color: var(--link-color);
    letter-spacing: 2.88px;
  }

  .section__user_box {
    min-height: 380px;
    max-width: 423px;
    width: 100%;
    background-color: var(--section-bg-color);
    border-radius: 32px;
    padding: 50px;
  }
}

@media (max-width: 415px) {
  .container {
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
  }

  .section__user_box {
    min-height: 380px;
    max-width: 423px;
    width: 100%;
    background-color: var(--section-bg-color);
    border-radius: 32px;
    padding: 50px;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
  }

  .main__box_title {
    max-width: 535px;
    width: 100%;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: var(--link-color);
    letter-spacing: 3.2px;
  }

  .section__content_title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 79px;
    color: var(--link-color);
    letter-spacing: 2.88px;
  }

  .main__box.active {
    margin: 50px 0 0 0;
  }

  .section__box_content_title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    color: var(--link-color);
    width: 100%;
    max-width: 701px;
    letter-spacing: 2.56px;
  }

  .section__container {
    border-radius: 32px;
    background-color: var(--section-bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    gap: 0;
    min-height: 545px;
    max-width: 1135px;
    width: 100%;
    margin: 60px 0;
  }

  .section__box_content_paragraph {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    margin: 28px 0 18px 0;
    max-width: 757px;
    width: 100%;
  }

  .section__box_content_link {
    font-family: sans-serif;
    font-style: normal;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: var(--link-color);
    background-color: var(--link-active-color);
    width: 208px;
    height: 51px;
    border-radius: 6px;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border: 1px solid var(--link-active-color);
  }

  .section__contact_box_icon {
    height: 75px;
    width: 75px;
    border-radius: 50%;
  }

  .section__contact_box_title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: var(--link-color);
    letter-spacing: 2.88px;
    margin: 0 0 25px 0;
  }

  .section__contact_box_paragraph {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    max-width: 570px;
    width: 100%;
  }

  .section__form_box_title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    color: var(--link-color);
    max-width: 431px;
    width: 100%;
    letter-spacing: 2.88px;
    margin: 0 0 25px 0;
  }

  .form__input {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    max-width: 350px;
    outline: none;
    width: 100%;
    padding: 13px;
    color: rgba(255, 255, 255, 0.7);
    background: var(--bg-color);
    border: 1px solid var(--bg-color);
    border-radius: 6px;
    margin: 10px 0;
  }

  .section__user_box_title {
    font-family: sans-serif;
    color: var(--link-color);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 43px;
    margin: 21px 0 19px 0;
  }

  .footer__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: repeat(1, auto);
    gap: 5px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .footer {
    margin: 150px 0 0 0;
  }

  .nav__intro {
    color: var(--link-color);
    font-family: sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
  }
}

/* MEDIA RESPONSIVE END */




.input-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.input-1 {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 18px 16px;
  cursor: pointer;
  transition: all .5s ease-in-out;

}

.input-1::placeholder {
  color: transparent;

}

.input-1:focus::placeholder {
  color: rgb(131, 128, 128);
}

.input-1:focus,
.input-1:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid rgb(255, 0, 0);
  width: 290px;
  cursor: none;
  padding: 18px 16px 18px 40px;
}

.iconInput {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 10px;
  z-index: -1;
  fill: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
}

.input-1:hover+.iconInput {
  transform: rotate(360deg);
  transition: .2s ease-in-out;
}

.input-1:focus+.iconInput,
.input-1:not(:placeholder-shown)+.iconInput {
  z-index: 0;

  border: none;
}



.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;

}

.inputMoviesLatest {
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  width: 900px;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0 0 5px #000000, 0 0 0 5px #ff0000eb;
  transition: .3s ease;


}

.inputMoviesLatest::placeholder {
  color: #777;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #ffffff;
  width: 1rem;
  height: 1rem;
}